
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="text-center">
    <h3 class="display-4">Password Reset Request Sent</h3>
    <p class="lead">We've sent a password reset link to your email address.
        <br />
        Please check your inbox and follow the instructions to reset your password.</p>
    <p>
        <a class="btn btn-primary" href="https://mail.google.com/mail/u/0/#inbox">Return to Your Inbox</a>
    </p>
</div>
